* {
    outline: none !important;
    border-radius: 0 !important;
}

i {
    margin-left: 5px;
    margin-right: 5px;
}

.sidebar {
    background-color: white;
    height: 100%;
    padding: 0px;
    position: fixed;
    right: auto;
    top: 92px;
    z-index: 1;
    transition: left 0.5s;
    -o-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -webkit-transition: left 0.5s;
    overflow-y: auto;
    width: 25.5%;
}

.sidebar.show {
    right: 0;
    display: block;
}

.ps-scrollbar-y-rail {
  margin: 5px 0;
}

.panel {
    border: 0;
    box-shadow: none;
    border-bottom: 1px white solid;
}

.panel-default > .panel-heading {
    padding: 0;
    background-color: white;
    border-bottom: 1px #CCCCCC solid;
    &:hover {
        background-color: #EDEDED;
    }
    .title {
        font-size: 25px;
    }
    .description {
        margin: 10px 0 0;
        color: #848484;
        line-height: 20px;
    }
}

.panel-default > .panel-heading  a {
    display: block;
    padding: 8px 15px;
}

.list-group-item {
    padding-left: 25px;
    border: 0;
    &:hover {
        background-color: #EDEDED;
        padding-left: 15px;
        transition-delay: 0s;
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: linear;
    }
}

a.list-group-item {
    border-bottom: 1px #CCCCCC solid;
    &:hover {
        background-color: #EDEDED;
    }
}

.red-border {
    border-left: 6px #FC4769 solid;
}

.yellow-border {
    border-left: 6px #FDBC2D solid;
}

.blue-border {
    border-left: 6px #1170B7 solid;
}

.green-border {
    border-left: 6px #86BC24 solid;
}

.aqua-border {
    border-left: 6px #1EB6E8 solid;
}

.solso-active {
    background: #385269 !important;
}

.list-group-item.no-border {
    border: 0;
}

.panel-group .panel + .panel {
    margin-top: 0px;
}

.panel-group {
    padding-bottom: 73px;
}

.title {
    color: rgb(51, 51, 51);
}

@media (max-width: @screen-sm-min) {
    .sidebar {
        position: initial;
        width: 100%;
        margin-bottom: 15px;

    }
    aside {
        width: 100%;
    }
}