<div class="panel-group menu" id="accordion">
    <div class="panel panel-default" ng-repeat="value in vm.data">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{$index}}">
                <span class="fa {{::value.icon}}"></span>{{::value.title}}</a>
            </h4>
        </div>
        <div id="{{$index}}" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr ng-repeat="val in value.sections" ng-click="vm.setKml(val.kml, value.title, val.title, val.zoom)">
                        <td>
                            <span class="fa {{::val.icon}}"></span>
                            <a href="">{{::val.title}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>