<aside class="sidebar show perfectScrollbar menu">
    <div id="solso-sidebar">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" ng-repeat="value in vm.data">
                <div class="panel-heading" role="tab" id="heading{{$index}}">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse2" class="{{vm.colors[$index]}}">
                            <div class="title">
                                <span>{{::value.title}}</span>
                                <!-- <i class="fa {{::value.icon}}"></i> -->
                                <i class="pull-right fa fa-caret-down"></i>
                            </div>
                            <p class="description">{{::value.description}}</p>
                        </a>
                    </h4>
                </div>
                <div id="collapse{{$index}}" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading{{$index}}">
                    <div ng-repeat="val in value.sections" ng-click="vm.setKml(val.kml, value.title, val.title, val.zoom, val.heatMap)">
                        <a href="#" class="list-group-item {{vm.colors[$index]}}" ng-class="{'active': val.title == vm.states.title}">
                            <!-- <span>{{::val.icon}}</span> -->
                            <strong><span>{{::val.title}}</span></strong>
                            <span>{{::val.description}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>